<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="SatıslarEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=215-03\SQLEXPRESS;initial catalog=Satıslar;persist security info=True;user id=sa;password=Ibb2022#!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SatıslarEntities1" connectionString="metadata=res://*/Satıslar.csdl|res://*/Satıslar.ssdl|res://*/Satıslar.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=215-03\SQLEXPRESS;initial catalog=Satıslar;persist security info=True;user id=sa;password=Ibb2022#!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SatıslarEntities2" connectionString="metadata=res://*/Satislar1.csdl|res://*/Satislar1.ssdl|res://*/Satislar1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=215-03\SQLEXPRESS;initial catalog=Satıslar;user id=sa;password=Ibb2022#!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SatıslarEntities3" connectionString="metadata=res://*/Satislar22.csdl|res://*/Satislar22.ssdl|res://*/Satislar22.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=215-03\SQLEXPRESS;initial catalog=Satıslar;user id=sa;password=Ibb2022#!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>